.custom_button {
  max-height: 20px;
  cursor: pointer;
  flex: 1;
  margin-top: 0.5em;
  padding: 0.938em;
  border: none;
  background-color: #22223b;
  color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 25px;
}

.custom_button:hover {
  color: #fefefe;
}

.custom_button_disabled {
  min-width: 90%;
  max-height: 20px;
  cursor: pointer;
  margin-top: 0.5em;
  padding: 0.938em;
  border: none;
  background-color: grey;
  color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
